/*//////////////////////////////////////////////////
	Rich Text Editor
//////////////////////////////////////////////////*/
rt_h1 {
	font-size: 16px;
	margin-top: 12px;
	margin-bottom: 0px;
	color: #757575;
}
rt_h2 {
	font-size: 15px;
	margin-top: 6px;
	margin-bottom: 0px;
	color: #757575;
}
rt_h3 {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
}
rt_p_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}
rt_p_r {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
}
rt_p_g {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
}
rt_p_b_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;
}
rt_p_r_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-weight: bold;
}
rt_p_g_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-weight: bold;
}
rt_p_b_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-style: italic;
}
rt_p_r_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-style: italic;
}
rt_p_g_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-style: italic;
}
span.h1 {
    color:#1d2124;
    font-size:16px;
    font-weight:normal;
    margin: 20px 0;
}
span.h2 {
    color:#757575;
    font-size:16px;
    font-weight:normal;
    margin:15px 0;
}
span.h3 {
    color:#1d2124;
    font-size:14px;
    font-weight:normal;
}
span.rt_h1 {
	font-size: 16px;
	margin-top: 12px;
	margin-bottom: 0px;
	color: #757575;
}
span.rt_h2 {
	font-size: 15px;
	margin-top: 6px;
	margin-bottom: 0px;
	color: #757575;
}
span.rt_h3 {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
}
span.rt_p_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}
span.rt_p_r {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
}
span.rt_p_g {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
}
span.rt_p_b_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;
}
span.rt_p_r_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-weight: bold;
}
span.rt_p_g_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-weight: bold;
}
b span.rt_p_b_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;
}
b span.rt_p_r_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-weight: bold;
}
b span.rt_p_g_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-weight: bold;
}
span.rt_p_b_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-style: italic;
}
span.rt_p_r_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-style: italic;
}
span.rt_p_g_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-style: italic;
}


/*//////////////////////////////////////////////////
	Rich Text Editor Lists
//////////////////////////////////////////////////*/
ul li h1 {
    color:#1d2124;
    font-size:16px;
    font-weight:normal;
    margin: 20px 0;
}

ul li h2 {
    color:#757575;
    font-size:16px;
    font-weight:normal;
    margin:15px 0;
}
ul li h3 {
    color:#1d2124;
    font-size:14px;
    font-weight:normal;
}
ul li rt_p_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}
ul li rt_p_r {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
}
ul li rt_p_g {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
}
ul li rt_p_b_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;
}
ul li rt_p_r_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-weight: bold;
}
ul li rt_p_g_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-weight: bold;
}
ul li rt_p_b_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-style: italic;
}
ul li rt_p_r_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-style: italic;
}
ul li rt_p_g_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-style: italic;
}
ul li span.rt_p_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}
ul li span.rt_p_r {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
}
ul li span.rt_p_g {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
}
ul li span.rt_p_b_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;
}
ul li span.rt_p_r_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-weight: bold;
}
ul li span.rt_p_g_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-weight: bold;
}
ul li b span.rt_p_b_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;
}
ul li b span.rt_p_r_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-weight: bold;
}
ul li b span.rt_p_g_b {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-weight: bold;
}
ul li span.rt_p_b_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-style: italic;
}
ul li span.rt_p_r_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #BE0606;
	font-style: italic;
}
ul li span.rt_p_g_i {
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #757575;
	font-style: italic;
}
ul li span.h1 {
    color:#1d2124;
    font-size:16px;
    font-weight:normal;
    margin: 20px 0;
}
ul li span.h2 {
    color:#757575;
    font-size:16px;
    font-weight:normal;
    margin:15px 0;
}
ul li span.h3 {
    color:#1d2124;
    font-size:14px;
    font-weight:normal;
}